:root{
    --primary-color:#a3c9de;
    --second-color:	#85a6c5;
    --third-color:	#6e9ab5;
    --fourth-color: #5d698f;
    --fifth-color: 	#455d7f;

    --text-color:#444;
    --text-color-light:#777;
    --border-color-dark:#AAA;
    --border-color-light:#CCC;
    --hover-color-dark: #5d698f;
    --disable-color:#f0efef;
    --alert-color: #ec7f6c;
    /* other */
    --facebook-color:#385898;
    --error-color:#f34f2e;
    --yellow-color:#ffce3e;
    --yellow-color-light:#ffd452;
    --black-color:#000;
    --white-color:#FFF;
}

@font-face{
    font-family: 'Dosis';
    font-weight: normal;
    font-style: normal;
    src: url('../font/Dosis/Dosis-VariableFont_wght.ttf') format('truetype');
}
*{
    box-sizing: border-box !important;
}
html{
    font-family: 'Dosis';
    font-size: 62.5%;
    padding: 0;
}
body{
    margin:0;
}
.content{
    margin: 0 auto;
    margin-top: 15vh;
    width: 50%;
    vertical-align: top;
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}
.header{
    width: 100%;
    margin: 0 auto;
    padding: 5px 0;
    background-color: var(--fifth-color);
    font-size: 4rem;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: var(--white-color);
}
.wrapper{
    width: 100%;
    display: flex;
    color: var(--white-color);
    font-size: 2rem;
    background-color: var(--primary-color);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.wrapper__left{
    padding: 20px;
    flex: 2;
    border-right: 2px solid var(--border-color-dark);
} 
.wrapper__right{
    padding: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

form{
    margin: 0 auto;
    width:100%;
    max-width: 400px;
}

input{
    padding: 10px;
    height: 45px;
    margin-top: 10px;
    width: 100%;
    background-color: var(--white-color);
    color: var(--text-color-light);
    border-radius: 4px;
    border: none;
    font-family: 'Dosis';
    font-size: 2rem;
}
input:hover{
    background-color: rgba(255, 255, 255, 0.822);
}
input:focus{
    outline-color: var(--fourth-color);
    background-color: var(--white-color);
}
input[type=submit]{
    cursor: pointer;
    background-color: var(--fourth-color);
    color: white;
    border: none;
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 25px;
}
input[type=submit]:hover{
    transform: scale(1.1);
}
input[type=radio]{
    margin: 0 10px;
    height: 20px;
    width: 20px;
}
.genderBox{
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper__title{
    margin: 0 auto;
    text-align: center;
    font-size: 3rem;
    color: var(--white-color);
}

.error-form{
    margin: 20px 0 10px 0;
    padding: 10px;
    text-align: center;
    background-color: rgba(252, 22, 22, 0.5);
    color: white;
    font-size: 2rem;
    border-radius: 5px;
}
label.error {
    display: block;
    margin-top: 5px;
    margin-left: 10px;
    color: var(--error-color);
}
.logoBox{
    color:var(--white-color);
    font-size: 4rem;
    text-align: center;
}
.logoBox__slogan{
    margin-top:0;
    margin-bottom: 20px;
}
.myform__switch{
    display:block;
    color: var(--white-color);
    text-align: center;
}
.myform__switch:hover{
    transform: scale(1.1);
}
/* animation */
.shake {
    animation: shake 1s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    /* backface-visibility: hidden; */
    /* perspective: 1000px; */
  }

/* Background animation */
.backgroundBox{
    position: relative;
}
body{
    background-color:rgba(255, 236, 180, 0.36);
}
.circle{
    z-index: -1;
    position: absolute;
    border-radius: 50%;
    background:var(--third-color);
    animation: ripple 10s infinite;
    box-shadow: 0px 0px 1px 0px var(--fourth-color);
}

.small{
    width: 200px;
    height: 200px;
    /* left: -100px;
    top: -100px; */
    left: 0;
    bottom:-100px;
}

.medium{
    width: 400px;
    height: 400px;
    left: -100px;
    bottom: -200px;
}

.large{
    width: 600px;
    height: 600px;
    left: -200px;
    bottom: -300px;
}

.xlarge{
    width: 800px;
    height: 800px;
    left: -300px;
    bottom: -400px;
}

.xxlarge{
    width: 1000px;
    height: 1000px;
    left: -400px;
    bottom: -500px;
}

.shade1{
    opacity: 0.2;
}
.shade2{
    opacity: 0.5;
}

.shade3{
    opacity: 0.7;
}

.shade4{
    opacity: 0.8;
}

.shade5{
    opacity: 0.9;
}

@keyframes ripple{
    0%{
        transform: scale(0.4);
    }
    25%{
        transform: scale(0.8);
    }
    50%{
        transform: scale(1.2);
    }
    75%{
        transform: scale(0.8);
    }
    100%{
        transform: scale(0.4);
    }
}
/*Animation*/
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }